{% extends "layout.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
{{ super()}}
Cloud-Pcap
{% endblock %} 

{% block content %}
{{ super() }}


<div class="container-fluid content">
	
	<div class="col-md-12">
		{% for category, message in get_flashed_messages(with_categories=true) %} 
		<div class="alert alert-{{ category }}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endfor %}
		<br/>
		



		<div class="row">
			<div class="col-lg-9 col-md-9 tracefiles">
				<div class="panel panel-default">
					<div class="panel-heading">
						Trace Files
						<small class="pull-right">{{ traceFiles|length }} Capture Files</small>
					</div>

					<!--<div class='row'>
					<div calss='col-lg-1'>
					<div class="page-header">
							<div class="form-horizontal">
								<div class="control-label"></div>	
							</div>
							<div class="col-lg-1  ">
									<select class="form-control" onchange="selectOnchang(this)">
										{% for netCard in netCardList %}
											<option>{{ netCard }}</option>
										{% endfor %}
									</select>
						  </div>
					</div>
					</div>
					</div>-->

					<h1></h1>
			<div class='row'>
					<!--<div class="page-header">
							<div class="form-horizontal">
								<div class="control-label"></div>	
							</div>-->
						<div class="col-lg-1">
							<p class = "text-right">网卡选择</p>
						</div>
						<div class="col-lg-2 ">
									<select class="form-control" name="sel" id="sel" onchange="selectOnchang(this)">
										{% for netCard in netCardList %}
											<option>{{ netCard }}</option>
										{% endfor %}
									</select>
						</div>
						<div class="col-lg-2">
							<p class = "text-right">抓包时间设置（秒）</p>
						</div>
						<div class="col-lg-2">
							<input id="secondInput" type="text" class="form-control" placeholder="单位为秒">
						</div>
						<div class="col-lg-1">
							<button id='catchBtn' class="btn btn-default" type="submit" >开始抓包</button>
						</div>
				</div>
				<h1></h1>
				<div class="row">
					<div class="col-lg-1">
						<p class = "text-right">包存储名</p>
					</div>
					<div class="col-lg-2">
						<input id="pcapName" type="text" class="form-control" placeholder="请输入所存储文件名称">
					</div>
				</div>

					<div class="panel-body tracefiles">
						<table class="" data-toggle="table" data-height="518" data-sort-name="date" data-sort-order="desc" data-show-columns="true" data-pagination="true" data-page-list="[10, 20, 50]" data-search="true">
							<thead>
							<tr>
								<th data-field="name" data-sortable="true">Name</th>
								<th data-field="type" data-sortable="true">Type</th>
								<th data-field="packets" data-sortable="true"># Packets</th>
								<th data-field="size" data-sortable="true">Size (KB)</th>
								<th data-field="date" data-sortable="true">Added</th>
								<th data-field="user" data-sortable="true">User</th>
								<th data-filed="detect" data-sortable="false" data-switchable="false">Tor</th>
								<th data-field="delete" data-sortable="false" data-switchable="false"></th>
							</tr>
							</thead>
							<tbody>
							{% for traceFile in traceFiles %}
								<tr>
									<td><a href="{{ url_for('captures', file_id=traceFile.id) }}"><i class="fa fa-file"></i> {{ traceFile.name }}</a></td>
									<td>{{ traceFile.filetype }}</td>
									<td>{{ traceFile.packet_count|format_comma }}</td>
									<td>{{ ((traceFile.filesize|float) / 1024|float)|format_comma }}</td>
									<td>{{ traceFile.date_added.strftime('%b %d, %Y %I:%M%p') }}</td>
									<td>{{ traceFile.username.username }}</td>
									<td><i class='fa fa-filter detectButton' data-toggle="modal" data-target="#detectModal" data-id="{{traceFile.id}}" data-name="{{traceFile.name}}"></i></td>
									<td><i class='fa fa-close text-danger deleteButton' data-toggle="modal" data-target="#deleteModal" data-id="{{traceFile.id}}" data-name="{{traceFile.name}}"></i></td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="panel panel-default" >
					<div class="panel-heading">Tags

						<a href="{{ url_for('home') }}"><i class="fa fa-ban text-danger pull-right"></i></a>
					</div>
					<div class="panel-body">
						<ul class="list-group">
						
						{% for tag in tags %}
							<a href="{{ url_for('home', tag=tag) }}"><button class="tag-btn btn btn-sm btn-primary">{{ tag }}</button></a>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		

		<!-- Temp Password Modal -->
		<div class="modal fade" id="tempPasswordModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        
		        <h4 class="modal-title">Temporary Password</h4>
		      </div>
		      <div class="modal-body">
		      	<p>Hi {{current_user.username|upper }}, you currently have a temporary password and must change it to continue.</p>
		        <form class="form" method="post" role="form">
		          {{ form.hidden_tag() }}
		          {{ wtf.form_errors(form, hiddens="only") }}

		          {{ wtf.form_field(form.temp_password) }}
		          {{ wtf.form_field(form.new_password1) }}
		          {{ wtf.form_field(form.new_password2) }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
		      </div>
		        </form>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- Delete Modal -->
		<div class="modal fade" id="deleteModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title">Delete Capture File</h4>
		      </div>
		      <div class="modal-body">
		        <p></p>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    			<button type="button" class="btn btn-danger"><a id="confirmDelete">Confirm Delete</a></button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- Detect Modal -->
		<div class="modal fade" id="detectModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title">Detect Tor Traffic</h4>
		      </div>
		      <div class="modal-body">
		        <p></p>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    			<button type="button" class="btn btn-info"><a id="confirmStart">Start Detect</a></button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
	</div>
</div>
<div class="dropzone-previews text-center">
	<div class="well">
	<h4 class="">Drag pcaps here or  
	  <button class="btn btn-primary start dropzone-label">
          <i class="fa fa-upload"></i>
          <span>Upload</span>
      </button>
      </div>
    </h4>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='dropzone.min.js') }}"></script>

<script type="text/javascript">
var netCardSelelct;
netCardSelelct = document.getElementById("sel").getElementsByTagName("option")[0].text;
function selectOnchang(obj){  
 //获取被选中的option标签选项 
 //alert(obj.selectedIndex);
var se =document.getElementById("sel");   
                 var option=se.getElementsByTagName("option");
								 netCardSelelct = option[0].text;   
                 var str = "" ;   
                 for(var i=0;i<option.length;i++)   
                 {   
											if(option[i].selected)   
											{   
												netCardSelelct = option[i].text;   
											}   
                 }  
	alert(netCardSelelct)
}

	$(document).ready(function(){
		$("#catchBtn").click(function(){
			alert("正在抓包，请等待至窗口自动刷新")
			$.post('/capture',
			{
				netCard : netCardSelelct,
				catchTime : $("#secondInput").val(),
				pcapName : $("#pcapName").val(),
			},
			function(status){
				if (status == "203"){
					parent.location.replace(parent.location.href);
				}
				else{
					alert(status);
				}
			});
		});
	});

	Dropzone.autoDiscover = false;
	$(document).ready(function(){
		{% if current_user.temp_password == True %}
			$('#tempPasswordModal').on('shown.bs.modal', function (e) {
				$('input#temp_password').focus();
			});
			$('#tempPasswordModal').modal(show=true);
		{% endif %}

		$('.deleteButton').on('click', function(){
			var file_id = $(this).data('id');
			var file_name = $(this).data('name');
			$('#deleteModal .modal-body p').html('Are you sure you want to delete ' + file_name + '?');
			$('#confirmDelete').attr('href', 'captures/delete/' + file_id);
		});
		
		$('.detectButton').on('click', function(){
			var file_id = $(this).data('id');
			var file_name = $(this).data('name');
			$('#detectModal .modal-body p').html('Are you sure you want to detect Tor traffic of ' + file_name + '?');
			// $('#confirmStart').attr('href', 'detect/' + file_id);
			$('#confirmStart').click(function(){
				
				$('#detectModal .modal-body p').html("<div class=\"progress\">\
  <div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"45\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 45%\">\
    <span class=\"sr-only\">45% Complete</span>\
  </div></div>");

				$.post('/detect',
					{
						file_id : file_id,
						file_name : file_name
					},
					function(status){
						if (status == "204"){
							parent.location.replace(parent.location.href);
						}
						else{
							alert("There is no Tor TLS certificate");
						}
					}
				)
			})
		});

		var captureUpload = new Dropzone('.dropzone-previews', {
			url: "{{ url_for('api_upload_file', token=current_user.token) }}",
			previewsContainer: ".dropzone-previews",
			clickable: '.dropzone-label',
			maxFilesize: 50,
			init: function() {
			    this.on("success", function(file) { 
			    	location.reload(); 
			    });
			  }
		});
		$('button.dropdown-toggle').dropdown();
		window.setTimeout(function() { $(".alert").alert('close'); }, 5000);
	});
</script>


{% endblock %}